.container{
    text-align: center;
}

h2{
    color: rgb(155, 17, 17);
    font-size: 30px;
    font-family: 'PT Sans',sans-serif;
 
}

h1{
    font-size: 100px;
}

p{
    color: black;
    font-size: 15px;
    background-color: rgb(155, 17, 17);
    font-family: 'Dancing Script',cursive;
}

h3{
    color: rgb(155, 17, 17);
    font-size: 30px;
    font-family: 'PT Sans',sans-serif;
}

body{
    background-image: url("bimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }